* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.img-receta {
  height: 200px;   
  object-fit: cover;   
  width: 100%;      
}

.card {
  max-width: 320px;
  border: 1 solid transparent;
  transition: transform 0.3s ease, box-shadow 0.3s ease, border 0.3s ease;
}

.card:hover {
  translate: 0 -5px;
  border: 1px solid #aaa;
}